@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}


/* Resets */
/*
html,
body {
  @apply h-full;
}

body {
  @apply bg-black;
}
*/